[Unit]
Description=Aptly API Debian repository management
After=network.target

[Service]
Type=simple
RuntimeDirectory=aptly
ExecStart=/usr/bin/aptly api serve -config=/etc/aptly.conf -listen={{ aptly_host }}:{{ aptly_api_port }}
ExecStop=/bin/kill -s QUIT $MAINPID
User={{ aptly_user }}

[Install]
WantedBy=multi-user.target
